
.wrap{
	margin:  0 auto;
	padding: 0 auto;
	width: 100%;
	height: 100%;
	background-image: url("../img/blackground3.jpg");
	background-size: cover;
	background-repeat:no-repeat;
}

#div_loginbar{
	margin-right:1%;
	margin-left: 50%;
	text-align:right;
	color : white;
	height:35px;
	background-color:;
	padding-top:5px;
}

#header{
	text-align:center;
	font-size : 35px;
	
	height:135px;
	color : #BC602B;
	background-color: #3E3E3E;	
}

#footer{
	height:100px;
	background-color: ;
	color : white;	
}

.content_wrap{
	height: 900px;
	margin: 0 auto;

}

#menu{
	height: 100%;
	width: 8%;
	float: left;
	background-color: ;
	margin: 5px 5px 5px 5px;
	margin-left: 15%;
}

#content{
	height: 100%;
	width: 60%;
	float:left;
	background-color: #B4B4B4;
	margin: 5px  auto;
	margin-right: 5%;
	
}

h1{
	text-align:center;
	color : #C6C6C6;	
}
h4{
	color : #C6C6C6;
}

#h1_header{

	text-align:center;
	display: inline-block;
}
#h4_header{

	
	display: inline-block;
}

li{
	height:50px;
}

a, a:link{
	text-decoration: none;
	color:black;
}
